doctype html
html(lang="en")
  head
    title Home
  body
    h1 Pug is the new Jade
    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam,delectus numquam suscipit enim quis minus libero dignissimos dolorum? Dolore, dolorem?
    ul
      h1 Pug
      li Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat ratione commodi qui quisquam eligendi, omnis reiciendis eaque! Tempore similique itaque eum mollitia deserunt sequi rerum? Ipsa accusamus velit enim asperiores.
      li Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam voluptates dolores consectetur in id inventore alias adipisci commodi? Illo expedita et alias, blanditiis commodi sapiente maxime eius error libero ipsa.